#notfound {
  .notfound-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .notfound-header {
      margin: 0;
      position: relative;
      h1 {
        font-size: 5em;
        letter-spacing: 0.15em;
        font-family: "Spade Round W05 Regular";
        font-weight: 400;
        margin: 0.15em 0 0.5em 0;
      }
      h5 {
        font-size: 2.25em;
        margin: 1em 0;
      }
    }
    .notfound-button {
      margin: 0.8em 0 0 0;
      position: relative;
    }
    .notfound-logo {
      width: 60%;
    }
  }
}
