#about {
  background-color: rgb(20, 20, 20);
  color: #fff;
  text-align: center;
  padding: 6rem 0;
  box-sizing: border-box;
  .about-container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    header {
      width: 100%;
      margin-bottom: 4rem;
      display: block;
      color: #fff;
      text-shadow: -1px -1px 0px #181818;
      h2 {
        font-size: 2.6rem;
        font-weight: 700;
        margin: 0 0 0.75rem 0;
        span {
          color: $primary;
        }
      }
    }
    .about {
      width: 100%;
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include media("<=phone") {
        flex-direction: column-reverse;
      }
      p {
        min-width: 50%;
        width: 50%;
        padding: 1.5rem;
        box-sizing: border-box;
        text-align: right;
        font-size: 1.3rem;
        line-height: 2.2rem;
        @include media("<=phone") {
          min-width: 100%;
          width: 100%;
          text-align: center;
        }
      }
      .about-svg-container {
        height: 450px;
        max-height: 450px;
        min-width: 50%;
        width: 50%;
        background: $primary;
        border-radius: 8px;
        box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15),
          0px 2px 3px 0px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        box-sizing: border-box;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        @include media("<=phone") {
          min-width: 100%;
          width: 100%;
        }
        svg {
          height: 85%;
          transform: rotate(10deg);
          @include media("<=tablet") {
            transform: scale(0.85) rotate(10deg);
          }
          @include media("<=phone") {
            transform: scale(0.8) rotate(10deg);
          }
        }
      }
    }
    .skills {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      @include media("<=phone") {
        flex-direction: column-reverse;
      }
      p {
        min-width: 50%;
        width: 50%;
        padding: 1.5rem;
        box-sizing: border-box;
        text-align: left;
        font-size: 1.3rem;
        line-height: 2.2rem;
        @include media("<=phone") {
          min-width: 100%;
          width: 100%;
          text-align: center;
        }
      }
      .icon-container {
        height: 450px;
        max-height: 450px;
        background: $primary;
        border-radius: 8px;
        box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15),
          0px 2px 3px 0px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        box-sizing: border-box;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        .icon {
          height: 100px;
          width: 100px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          h5 {
            margin: 0;
            padding-top: 0.25rem;
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}
