#about {
  color: #fff;
  .about-container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    .about {
      width: 100%;
      max-width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(136, 136, 136, 0.25);
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
      backdrop-filter: blur(12px);
      border-radius: 1em;
      border: solid 2px transparent;
      background-clip: padding-box;
      @include media("<=tablet") {
        flex-direction: column;
      }
      .icon-container {
        background-color: $primary;
        border-radius: 1em 0 0 1em;
        box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15),
          0px 2px 3px 0px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        box-sizing: border-box;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        @include media("<=phone") {
          border-radius: 1em;
        }
        .icon {
          height: 100px;
          width: 100px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: grab;
          h5 {
            margin: 0;
            padding-top: 0.25rem;
            font-size: 0.75rem;
          }
        }
      }
      .about-info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        min-width: 50%;
        padding: 1.5rem;
        box-sizing: border-box;
        p {
          text-align: left;
          font-size: 1.15rem;
          line-height: 2.2rem;
        }
        @include media("<=tablet") {
          min-width: 100%;
          width: 100%;
          p {
            text-align: justify;
            color: rgb(94, 94, 94);
          }
        }
      }
      .about-button {
        margin: 0;
        position: absolute;
        bottom: -7.5%;
        left: 50%;
        background-color: $primary;
        // transform: translate(-50%, -50%);
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
          rgba(0, 0, 0, 0.23) 0px 6px 6px;
        @include media("<=phone") {
          bottom: -4.25%;
        }
      }
    }
  }
}
