#about {
  color: #fff;
  .about-container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    header {
      width: 100%;
      margin: 4rem 0;
      display: block;
      color: #fff;
      text-shadow: -1px -1px 0px #181818;
      h2 {
        font-size: 2.6rem;
        font-weight: 700;
        margin: 0 0 0.75rem 0;
        span {
          color: $primary;
        }
      }
      p {
        color: #999;
      }
    }
    .about {
      width: 100%;
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      background: rgba(136, 136, 136, 0.25);
      // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(12px);
      border-radius: 1em;
      border: solid 2px transparent;
      background-clip: padding-box;
      @include media("<=tablet") {
        flex-direction: column;
      }
      .about-info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        min-width: 50%;
        padding: 1.5rem;
        box-sizing: border-box;
        p {
          text-align: left;
          font-size: 1.15rem;
          line-height: 2.2rem;
        }
        @include media("<=tablet") {
          min-width: 100%;
          width: 100%;
          p {
            text-align: justify;
          }
        }
      }
      .about-svg-container {
        height: 450px;
        min-width: 50%;
        width: 50%;
        padding: 1rem;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        @include media("<=tablet") {
          width: 100%;
          max-width: 390px;
          height: 300px;
          max-height: 300px;
        }
        svg {
          width: 75%;
          transform: translateY(-5%) rotate(-10deg);
          @include media("<=tablet") {
            transform: translateY(-20%) rotate(-10deg);
          }
        }
      }
    }
    .skills {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      background: rgba(0, 0, 0, 0.226);
      @include media("<=phone") {
        flex-direction: column-reverse;
      }
      .icon-container {
        border-radius: 8px;
        box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15),
          0px 2px 3px 0px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        box-sizing: border-box;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        .icon {
          height: 100px;
          width: 100px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: grab;
          h5 {
            margin: 0;
            padding-top: 0.25rem;
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}
