.arrows {
  position: fixed;
  top: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0 3em;
  z-index: 1000;
  a {
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 0.75em;
  }
  #left-arrow-nav {
    color: #000;
    border: 2px solid #000;
  }
}
