.span-arrow {
  width: 4em;
  height: 4em;
  position: fixed;
  top: 50%;
  z-index: 500;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
  @include media("<=tablet") {
    top: 86%;
  }
  &.left {
    color: #000;
    border: 2px solid #000;
    left: 0;
    right: unset;
  }
  &.right {
    color: #fff;
    border: 2px solid #fff;
    left: unset;
    right: 0;
    @include media("<=tablet") {
      color: #000;
      border: 2px solid #000;
    }
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
  }
}
