#contact {
  .contact-container {
    flex-direction: column;
    .contact {
      height: 30em;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      box-sizing: border-box;
      .contact-info {
        min-width: 40em;
        height: inherit;
        background-color: $primary;
        padding: 3em 5em 3em 3em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        border-radius: 1em;
        box-sizing: border-box;
        .contact-heading {
          h5 {
            text-align: left;
            font-size: 2rem;
            font-weight: 700;
            margin: 0 0 0.75rem 0;
            color: #fff;
          }
          p {
            text-align: left;
            font-size: 0.9em;
            color: #fff;
          }
        }
        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding: 0;
          li {
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            a,
            p {
              text-decoration: none;
              color: inherit;
              font-size: 0.9em;
              padding: 1em;
              text-align: left;
              line-height: 1.2em;
            }
          }
        }
        .social {
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 1;
          z-index: 10;
          a {
            text-decoration: none;
            color: #fff;
            position: relative;
            margin: 1em;
          }
        }
        p {
          font-size: 1.15em;
          font-weight: 300;
          text-align: center;
        }
      }
      .contact-form {
        min-width: 30em;
        background-color: transparent;
        height: inherit;
        box-sizing: border-box;
        padding: 1.5em;
        position: relative;
        form {
          width: 38em;
          display: flex;
          flex-wrap: wrap;
          box-sizing: border-box;
          padding: 2em;
          position: absolute;
          top: 5.5%;
          left: -35%;
          transform: translate(-50%, -50%);
          background: rgba(255, 255, 255, 0.25);
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
            rgba(0, 0, 0, 0.23) 0px 6px 6px;
          backdrop-filter: blur(12px);
          border-radius: 1em;
          border: solid 2px transparent;
          & .MuiFormControl-root {
            margin-bottom: 1em;
          }
          .form-submit {
            width: auto;
            box-sizing: border-box;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 1em 1em 1em auto;
            input {
              background: $primary;
              border: none;
              color: #fff;
              font-weight: 600;
              font-size: 1.2rem;
              border-radius: 8px;
              padding: 0.75rem 2.25rem;
              box-sizing: border-box;
              box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
                rgba(0, 0, 0, 0.23) 0px 6px 6px;
              cursor: pointer;
              @include media("<=phone") {
                padding: 1rem 3rem;
              }
            }
          }
        }
      }
    }
  }
}
