#contact {
  text-align: center;
  padding: 6rem 0 0rem 0;
  box-sizing: border-box;
  .contact-container {
    flex-direction: column;
    header {
      width: 100%;
      margin-bottom: 4rem;
      display: block;
      color: #fff;
      text-shadow: -1px -1px 0px #181818;
      h2 {
        font-size: 2.6rem;
        font-weight: 700;
        margin: 0 0 0.75rem 0;
      }
      p {
        color: #999;
        span {
          color: $primary;
        }
      }
    }
    form {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      .form-email,
      .form-name {
        width: 50%;
        padding: 1rem;
        box-sizing: border-box;
        @include media("<=phone") {
          width: 100%;
        }
        input {
          width: 100%;
          display: block;
          border: 0;
          padding: 0.75em;
          box-sizing: border-box;
          font-size: 1em;
          border-radius: 8px;
          border: none;
          background: #282828;
          color: #bbb;
          box-shadow: inset 0px 2px 3px 1px rgba(0, 0, 0, 0.05),
            0px 1px 0px 0px rgba(255, 255, 255, 0.025);
        }
      }
      .form-textarea {
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
        textarea {
          width: 100%;
          height: 15rem;
          display: block;
          border: 0;
          padding: 0.75em;
          box-sizing: border-box;
          font-size: 1em;
          border-radius: 8px;
          border: none;
          background: #282828;
          color: #bbb;
          box-shadow: inset 0px 2px 3px 1px rgba(0, 0, 0, 0.05),
            0px 1px 0px 0px rgba(255, 255, 255, 0.025);
        }
      }
      .form-submit {
        width: 100%;
        box-sizing: border-box;
        input {
          background: $secondary;
          border: none;
          color: #fff;
          font-size: 1.2rem;
          border-radius: 8px;
          padding: 0.5rem 2rem;
          box-sizing: border-box;
          @include media("<=phone") {
            padding: 1rem 3rem;
          }
        }
      }
    }
    .direct-contact {
      hr {
        border: 0;
        border-top: solid 1px #444;
        border-top-color: rgba(0, 0, 0, 0.35);
        box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
        height: 1px;
        margin: 3em 0;
      }
      h3 {
        text-shadow: -1px -1px 0px #181818;
        color: #fff;
        font-size: 1.3rem;
        font-weight: 700;
        margin: 0 0 0.75rem 0;
      }
      .direct-methods {
        display: flex;
        justify-content: center;
        align-items: center;
        .contact-email,
        .contact-phone {
          position: relative;
          top: 0;
          display: inline-block;
          margin: 0.25rem;
          padding: 0.5rem;
          box-sizing: border-box;
          a {
            color: #999;
            text-shadow: -1px -1px 0px #181818;
          }
        }
      }
    }
  }
}
