#contact {
  .contact-container {
    flex-direction: column;
    form {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      .form-email,
      .form-name {
        width: 50%;
        padding: 1rem;
        box-sizing: border-box;
        @include media("<=phone") {
          width: 100%;
        }
        input {
          width: 100%;
          display: block;
          padding: 0.75rem;
          box-sizing: border-box;
          font-size: 1rem;
          border-radius: 8px;
          border: none;
          background: rgba(136, 136, 136, 0.25);
          // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          backdrop-filter: blur(8px);
          border-radius: 1em;
          border: solid 2px transparent;
          background-clip: padding-box;
          color: #bbb;
          &:focus {
            box-shadow: 0px 0px 2px 2px $primary;
            outline: none;
          }
        }
      }
      .form-textarea {
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
        textarea {
          width: 100%;
          height: 18rem;
          font-family: "Montserrat", sans-serif;
          display: block;
          padding: 0.75rem;
          box-sizing: border-box;
          font-size: 1rem;
          border-radius: 8px;
          border: none;
          background: rgba(136, 136, 136, 0.25);
          // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          backdrop-filter: blur(8px);
          border-radius: 1em;
          border: solid 2px transparent;
          background-clip: padding-box;
          color: #bbb;
          &:focus {
            box-shadow: 0px 0px 2px 2px $primary;
            outline: none;
          }
        }
      }
      .form-submit {
        width: 100%;
        box-sizing: border-box;
        input {
          background: $primary-faded;
          border: 1px solid $primary;
          color: #fff;
          font-weight: 600;
          font-size: 1.2rem;
          border-radius: 8px;
          padding: 0.5rem 2rem;
          box-sizing: border-box;
          cursor: pointer;
          transition: 300ms ease-out;
          &:hover {
            background: $primary;
          }
          @include media("<=phone") {
            padding: 1rem 3rem;
          }
        }
      }
    }
  }
}
