#footer {
  height: 10vh;
  min-height: 10vh;
  .footer-container {
    justify-content: center;
    align-items: center;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #666;
      font-size: 1em;
      line-height: 1em;
      list-style: none;
      @include media("<=phone") {
        flex-direction: column;
      }
      li {
        padding: 0.5rem;
        box-sizing: border-box;
        a {
          color: #666;
        }
      }
      li:not(:first-child) {
        border-left: solid 1px rgba(0, 0, 0, 0.5);
        box-shadow: -1px 0px 0px 0px rgba(255, 255, 255, 0.1);
        padding: 0 1rem 0 1rem;
        box-sizing: border-box;
        @include media("<=phone") {
          padding: 1rem 0 1rem 0;
          border-left: none;
          border-top: solid 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}
