#footer {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .footer-container {
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.9em;
    color: #666;
    .business-info,
    .copy-write {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
          margin: 0 0 0.8em 0;
        }
        h4 {
          margin: 0 0 0.8em 0;
          font-weight: 600;
        }
        h5 {
          min-width: 5em;
          margin: 0 0 0.7em 0;
          font-weight: 600;
        }
        p,
        a {
          text-decoration: none;
          color: inherit;
          margin: 0 0 0.7em 0;
          font-size: 0.8em;
          padding: 0 0.25em;
        }
      }
    }
  }
}
