.overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 8;
  .top {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .bottom {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    z-index: 8;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
