#landing {
  height: 100vh;
  overflow: hidden;
  padding: 6rem 0;
  box-sizing: border-box;
  .landing-container {
    // flex-direction: column;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    color: #fff;
    @include media("<=tablet") {
      flex-direction: column;
      justify-content: flex-end;
      height: 82vh;
    }
    @include media("<=phone") {
      flex-direction: column;
      justify-content: center;
    }
    .logo {
      z-index: 10;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 0 5em;
      @include media(">LGdesktop") {
        width: 55em;
      }
      @include media("<=tablet") {
        width: 100%;
        max-width: 100%;
        top: -10%;
      }
      @include media("<=phone") {
        position: relative;
        top: 3%;
      }
      svg {
        position: absolute;
        top: 0;
        left: 40%;
        width: 45%;
        transform: rotate(12.5deg);
        @include media(">LGdesktop") {
          width: 40%;
        }
        @include media("<=tablet") {
          width: 70%;
          left: 50%;
          transform: translateX(-50%) rotate(0deg);
        }
      }
    }
    .text {
      position: relative;
      width: 100%;
      max-width: 30em;
      z-index: 10;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      color: #000;
      @include media(">LGdesktop") {
        max-width: 40em;
      }
      @include media("<=tablet") {
        width: 100%;
        align-items: center;
        text-align: center;
      }
      h2 {
        margin: 0.7em 0 0 0;
        line-height: 3rem;
        font-weight: 400;
        font-size: 3.2em;
        letter-spacing: 0.1em;
        z-index: 10;
        width: 100%;
        text-align: left;
        font-family: "Spade Round W05 Regular";
        @include media(">LGdesktop") {
          font-size: 4em;
        }
        @include media("<=tablet") {
          text-align: center;
        }
        @include media("<=phone") {
          font-size: 2.2em;
        }
      }
      .btn-group {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        z-index: 10;
        a {
          text-decoration: none;
          color: #000;
          position: relative;
          margin: 1em 0.25em;
        }
      }
      p {
        font-size: 1.15em;
        font-weight: 300;
        text-align: left;
        width: 60%;
        box-sizing: border-box;
        margin-bottom: 0.25em;
        border-top: 3px solid $primary;
        padding-top: 1em;
        @include media(">LGdesktop") {
          margin-top: 1em;
          font-size: 1.6em;
        }
        @include media("<=tablet") {
          text-align: center;
        }
        @include media("<=phone") {
          width: 100%;
        }
      }

      .landing-contact {
        margin: 0.5em 0 0 0;
        background-color: $primary;
      }
    }
  }
}
