#landing {
  height: 100vh;
  overflow: hidden;
  padding: 6rem 0;
  box-sizing: border-box;
  .landing-container {
    // flex-direction: column;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    z-index: 12;
    color: #fff;
    @include media("<=tablet") {
      flex-direction: column;
      justify-content: center;
    }
    .logo {
      z-index: 10;
      position: relative;
      width: 40em;
      padding: 0 5em;
      @include media("<=tablet") {
        width: 100%;
        max-width: 100%;
      }
      svg {
        position: relative;
        bottom: 4em;
        transform: rotate(12.5deg);
      }
    }
    .text {
      position: relative;
      width: 100%;
      max-width: 30em;
      z-index: 10;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      color: #000;
      @include media("<=tablet") {
        width: 100%;
        align-items: center;
        text-align: center;
      }
      h2 {
        margin: 0.7em 0 0 0;
        line-height: 3rem;
        font-weight: 400;
        font-size: 3.2em;
        letter-spacing: 0.1em;
        z-index: 10;
        width: 100%;
        text-align: left;
        font-family: "Spade Round W05 Regular";
        // mix-blend-mode: difference;
        @include media("<=tablet") {
          font-size: 1.6rem;
          line-height: 2.2rem;
        }
      }
      .btn-group {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        z-index: 10;
        a {
          text-decoration: none;
          color: #000;
          position: relative;
          margin: 1em 0.25em;
        }
      }
      p {
        font-size: 1.15em;
        font-weight: 300;
        text-align: left;
        width: 60%;
      }
      .landing-contact {
        margin: 0;
        background-color: $primary;
      }
    }
  }
}
