#nav {
  height: 8vh;
  min-height: 8vh;
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  color: #fff;
  progress {
    appearance: none;
    min-width: 100vw;
    width: 100vw;
    height: 10px;
    border: none;
    position: fixed;
    top: -5px;
    left: 0;
    background: transparent;
    @include media(">tablet") {
      display: none;
    }
  }
  ::-webkit-progress-bar {
    background: transparent;
  }
  ::-webkit-progress-value {
    background: $blue-gradient;
    background-attachment: fixed;
  }
  ::-moz-progress-bar {
    background: $blue-gradient;
    background-attachment: fixed;
  }

  .nav-bar {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 1rem;
    .logo {
      padding: 12px 8px 8px 16px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        display: inline-block;
        padding-left: 0.25rem;
      }
    }
    .nav-button-group {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        font-size: 1.1rem;
        position: relative;
        box-sizing: border-box;
        padding: 1rem 0.5rem;
        color: inherit;
        text-decoration: none;
        cursor: pointer;
        transition: all 150ms ease-out;
        margin: 0 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          color: $primary;
        }
        &.active {
          color: $primary;
        }
        &.disabled {
          opacity: 0.2;
          pointer-events: none;
          cursor: not-allowed;
        }
      }
      @include media("<=tablet") {
        display: none;
      }
    }
    .nav-buttons-group-mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      @include media(">tablet") {
        display: none;
      }
      a {
        font-size: 1.1rem;
        position: relative;
        box-sizing: border-box;
        padding: 1rem 0.5rem;
        color: inherit;
        text-decoration: none;
        cursor: pointer;
        transition: all 150ms ease-out;
        margin: 0 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .burger {
        color: inherit;
        background-color: transparent;
        border: none;
        padding: 1rem;
        box-sizing: border-box;
        position: relative;
        z-index: 100;
        cursor: pointer;
        text-decoration: none;
      }
    }
    .nav-button-group-mobile {
      height: 100vh;
      min-height: 100vh;
      width: 100%;
      position: absolute;
      z-index: 10;
      top: -1rem;
      opacity: 0;
      transform: translateY(-100%);
      .mobile-buttons {
        padding-top: 14vh;
        height: 100%;
        background-color: rgb(42, 44, 53);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-sizing: border-box;
        position: relative;
        z-index: 20;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 2rem 0;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          text-align: center;
          font-size: 1.4rem;
          text-transform: uppercase;
          letter-spacing: 0.25rem;
          cursor: pointer;
          text-decoration: none;
          color: #fff;
          border: 1px solid rgba(255, 255, 255, 0.25);
          &:hover {
            background-color: $primary-faded;
          }
        }
      }
    }
  }
}
