#nav {
  height: 8vh;
  min-height: 8vh;
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  color: #fff;
  progress {
    appearance: none;
    min-width: 100vw;
    width: 100vw;
    height: 10px;
    border: none;
    position: fixed;
    top: -5px;
    left: 0;
    background: transparent;
  }
  ::-webkit-progress-bar {
    background: transparent;
  }
  ::-webkit-progress-value {
    background: $secondary;
    background-attachment: fixed;
  }
  ::-moz-progress-bar {
    background: $secondary;
    background-attachment: fixed;
  }

  .nav-bar {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .logo {
      padding: 12px 8px 8px 16px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        display: inline-block;
        padding-left: 0.25rem;
      }
    }
    .nav-button-group {
      padding-right: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        font-size: 1.1rem;
        position: relative;
        box-sizing: border-box;
        padding: 1rem;
        cursor: pointer;
        transition: color 150ms ease-out;
        &:hover {
          color: $primary;
        }
      }
      @include media("<=tablet") {
        display: none;
      }
    }
    .burger {
      color: inherit;
      background-color: transparent;
      border: none;
      padding: 1rem;
      box-sizing: border-box;
      position: relative;
      z-index: 100;
      cursor: pointer;
      text-decoration: none;
      @include media(">tablet") {
        display: none;
      }
    }
    .nav-button-group-mobile {
      height: 100vh;
      min-height: 100vh;
      width: 250px;
      max-width: 100%;
      background: $bg-grey;
      opacity: 0;
      position: absolute;
      top: 0;
      right: -100%;
      padding-top: 10vh;
      box-sizing: border-box;
      // transition: all 300ms ease-in-out;
      &.mobile-true {
        opacity: 1;
        right: 0;
      }
      .mobile-buttons {
        min-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a {
          padding: 2rem 0;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          text-align: center;
          font-size: 1.2rem;
          cursor: pointer;
          // transition: color 150ms ease-out;
          border: none;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}
