#nav {
  min-height: 8vh;
  width: 100%;
  max-width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 100;
  color: #fff;
  .nav-bar {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 1rem 0;
    box-sizing: border-box;
    padding: 0 1em;
    .logo-span {
      #logo-nav {
        font-weight: 700;
        font-size: 1.2em;
        text-decoration: none;
        cursor: pointer;
        color: #000;
        .ace {
          font-family: "Spade Round W05 Regular";
          font-size: 1.3em;
          font-weight: 400;
        }
      }
    }
    .nav-button-group {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      li {
        a {
          font-size: 1.1rem;
          position: relative;
          box-sizing: border-box;
          padding: 1rem 0.5rem;
          color: inherit;
          text-decoration: none;
          cursor: pointer;
          margin: 0 0.5rem;
          display: flex;
          justify-content: center;
          align-items: center;

          &.active::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            border-radius: 50%;
            width: 0.5em;
            height: 0.5em;
            z-index: 101;
          }
          &.disabled {
            opacity: 0.2;
            pointer-events: none;
            cursor: not-allowed;
          }
        }
      }
      @include media("<=tablet") {
        display: none;
      }
    }
    .nav-burger {
      display: flex;
      justify-content: center;
      align-items: center;
      @include media(">tablet") {
        display: none;
      }
      .burger {
        color: inherit;
        background-color: transparent;
        border: none;
        padding: 1rem;
        box-sizing: border-box;
        position: relative;
        cursor: pointer;
        text-decoration: none;
        outline: none;
        z-index: 1001;
      }
    }
    .nav-button-group-mobile {
      height: 100vh;
      min-height: 100vh;
      width: 100%;
      min-width: 100%;
      position: absolute;
      z-index: 1000;
      top: -1rem;
      left: 0;
      opacity: 0;
      transform: translateY(-100%);
      .mobile-buttons {
        padding-top: 12vh;
        height: 100%;
        width: 100%;
        background: rgba(136, 136, 136, 0.25);
        backdrop-filter: blur(12px);
        background-clip: padding-box;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-sizing: border-box;
        position: relative;
        z-index: 1000;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 2rem 0;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          text-align: center;
          font-size: 1.4rem;
          text-transform: uppercase;
          letter-spacing: 0.25rem;
          cursor: pointer;
          text-decoration: none;
          color: #fff;
          border: 1px solid transparent;
          z-index: 1000;
          &:hover {
            background: rgba(136, 136, 136, 0.5);
          }
        }
      }
    }
  }
}
