#portfolio {
  color: #fff;
  .proj-container {
    flex-direction: column;
    .projects-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
    }
  }
}
