.card {
  height: 250px;
  max-height: 250px;
  width: 400px;
  max-width: 400px;
  margin: 0 0.5rem 1rem 0.5rem;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  // @include media("<=tablet") {
  //   width: 46%;
  // }
  // @include media("<=phone") {
  //   width: 75%;
  // }
  .img-container {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 300ms ease-in-out;
  }
  .info-container {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-out;
    .info {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        color: #fff;
      }
    }
  }
  &:hover {
    .img-container {
      opacity: 0.4;
      transform: scale(1.3);
    }
    .info-container {
      opacity: 1;
      pointer-events: auto;
      .info {
        div {
          transition: all 300ms ease-out;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
