.card {
  height: 225px;
  max-height: 225px;
  width: 300px;
  max-width: 300px;
  margin: 0 0.5rem 1rem 0.5rem;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  // @include media("<=tablet") {
  //   width: 46%;
  // }
  // @include media("<=phone") {
  //   width: 75%;
  // }
  .img-container {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 300ms ease-in-out;
  }
  .info-container {
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000, $alpha: 0.7);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 320ms ease-out;
    .info {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        color: $secondary;
      }
      button {
        padding: 6px;
        border: 1px solid $secondary;
        color: $secondary;
        border-radius: 0.25rem;
        background-color: rgba($color: #fff, $alpha: 0.4);
        cursor: pointer;
        transition: 200ms ease-out;
        &:hover {
          background-color: $secondary;
          color: #fff;
        }
      }
    }
  }
  &:hover {
    .img-container {
      opacity: 0.4;
      scale: 1.3;
    }
    .info-container {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
