#portfolio-project {
  color: #000;
  .portfolio-container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    & header {
      h2 {
        font-family: "Spade Round W05 Regular";
      }
    }
    .portfolio-image {
      width: 100%;
      max-width: 1080px;
      position: relative;
      background: rgba(255, 255, 255, 0.25);
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
      backdrop-filter: blur(12px);
      border-radius: 1em;
      border: solid 1px transparent;
      .portfolio-tags {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        position: absolute;
        top: 50%;
        left: -27%;
        transform: translateY(-50%);
        list-style: none;
        padding: 0;
        width: 20em;
        li {
          margin: 1rem;
          padding: 1em;
          box-sizing: border-box;
          background: rgba(255, 255, 255, 0.25);
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
            rgba(0, 0, 0, 0.23) 0px 6px 6px;
          backdrop-filter: blur(12px);
          border: solid 1px transparent;
        }
      }
      .portfolio-info {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 2em 2em 2em;
        p {
          width: 50%;
          text-align: left;
          font-size: 1.2em;
          line-height: 2em;
        }
        .portfolio-buttons {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          div {
            margin: 0;
            a {
              box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
                rgba(0, 0, 0, 0.23) 0px 6px 6px;
            }
          }
          & div:nth-child(1) {
            margin-right: 0.5em;
          }
          & div:nth-last-child(1) {
            flex-grow: 1;
            background: transparent;
            margin-top: 3rem;
            a {
              color: $primary;
              background: rgba(255, 255, 255, 0.25);
              box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
                rgba(0, 0, 0, 0.23) 0px 6px 6px;
              backdrop-filter: blur(12px);
              border: solid 1px transparent;
            }
          }
        }
      }
    }
    .alice-image {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
    .alice-carousel__dots-item {
      width: 1.6em;
      height: 1.6em;
      background-color: rgb(143, 143, 143);
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
      transition: all 150ms $spring;
      &:hover {
        transform: translateY(-4px);
      }
      &.__active {
        background-color: $primary;
      }
    }
    .alice-carousel__play-btn {
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
      border-radius: 50%;
      transition: all 150ms $spring;
      &:hover {
        transform: translateY(-4px);
      }
    }
    .alice-carousel__play-btn-item {
      border-left-color: $primary;

      &::before,
      &::after {
        border-left-color: $primary;
      }
    }
  }
}
