#portfolio-project {
  color: #000;
  .portfolio-container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    & header {
      h2 {
        font-family: "Spade Round W05 Regular";
      }
    }
    .portfolio-image {
      width: 100%;
      max-width: 1080px;
    }
    .alice-image {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
    .alice-carousel__prev-btn {
      text-align: right;
    }
    .alice-carousel__next-btn {
      text-align: left;
    }
    .portfolio-tags {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      li {
        margin: 1rem;
      }
    }
    .portfolio-buttons {
      display: flex;
      div {
        margin: 3rem 1rem 0 1rem;
      }
    }
  }
}
