#portfolio-project {
  color: #fff;
  .portfolio-container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    header {
      width: 100%;
      margin-bottom: 4rem;
      display: block;
      color: #fff;
      text-shadow: -1px -1px 0px #181818;
      h2 {
        font-size: 2.6rem;
        font-weight: 700;
        margin: 0 0 0.75rem 0;
        span {
          color: $primary;
        }
      }
    }
    .portfolio-image {
      width: 100%;
    }
    .alice-image {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
    .alice-carousel__prev-btn {
      text-align: right;
    }
    .alice-carousel__next-btn {
      text-align: left;
    }
    .portfolio-tags {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      li {
        margin: 1rem;
      }
    }
    .portfolio-buttons {
      display: flex;
      div {
        margin: 3rem 1rem 0 1rem;
      }
    }
  }
}
