#services {
  background: linear-gradient(355deg, #2344d507 0%, rgba(0, 0, 0, 0.24) 100%);
  color: #000;
  .serv-container {
    flex-direction: column;
    header {
      width: 100%;
      margin-bottom: 4rem;
      display: block;
      color: #fff;
      h2 {
        font-size: 2.6rem;
        font-weight: 700;
        margin: 0 0 0.75rem 0;
      }
      p {
        color: #999;
      }
    }
    .services-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      .service-card {
        width: 100%;
        color: #fff;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &:nth-child(even) {
          flex-direction: row-reverse;
          .service-description {
            text-align: right;
          }
        }
        @include media("<=tablet") {
          flex-direction: column;
          &:nth-child(even) {
            flex-direction: column;
            .service-description {
              text-align: center;
            }
          }
        }
        .service-svg-container {
          width: 50%;
          height: 425px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: rgba(121, 121, 121, 0.411);
          box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15),
            0px 2px 3px 0px rgba(0, 0, 0, 0.1);
          @include media("<=tablet") {
            height: 300px;
          }
          svg {
            width: 60%;
            overflow: visible;
            fill: #fff;
            .color-prime {
              fill: $primary;
            }
          }
        }
        .service-description {
          width: 50%;
          padding: 0.75rem;
          box-sizing: border-box;
          text-align: left;
          @include media("<=tablet") {
            text-align: center;
            margin-bottom: 3rem;
            border: 1px solid rgba(121, 121, 121, 0.411);
          }
          h3 {
            color: $bg-light;
            text-transform: uppercase;
          }
          p {
            color: #999;
            line-height: 2rem;
          }
        }
      }
    }
  }
}
