#services {
  .serv-container {
    flex-direction: column;
    .services-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      border-radius: 1em;
      overflow: hidden;

      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
      .service-card {
        width: 50%;
        height: 15em;
        color: #fff;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border: 1px solid #ffffff;
        background: rgba(255, 255, 255, 0.25);
        // box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        //   rgba(0, 0, 0, 0.23) 0px 6px 6px;
        backdrop-filter: blur(12px);
        background-clip: padding-box;

        @include media("<=tablet") {
          flex-direction: column;
          max-width: 400px;
          &:nth-child(even) {
            flex-direction: column;
            .service-description {
              text-align: center;
            }
          }
        }
        .service-mask {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          // background-color: $primary;
          background-color: rgb(250, 250, 250);
        }
        .service-svg-container {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left: 0.5em;
          @include media("<=tablet") {
            width: 100%;
          }
          svg {
            // width: 6em;
            // height: 6em;
            width: 8em;
            height: 8em;
            height: inherit;
            overflow: visible;
            fill: $primary;
            position: relative;
            z-index: 2;
            // .color-prime {
            //   fill: $primary;
            // }
          }
        }
        .service-description {
          flex-grow: 3;
          padding: 0.75em 0.75em 0.75em 1em;
          box-sizing: border-box;
          text-align: left;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          @include media("<=tablet") {
            text-align: center;
            margin-bottom: 3rem;
            width: 100%;
          }
          h3 {
            color: $primary;
            font-size: 1.7em;
            text-transform: uppercase;
            margin-bottom: 0.2em;
          }
          p {
            color: rgb(255, 255, 255);
            line-height: 2rem;
          }
        }
      }
    }
  }
}
