#services {
  .serv-container {
    flex-direction: column;
    .services-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      border-radius: 1em;
      overflow: hidden;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
      @include media("<=phone") {
        flex-direction: column;
      }
      .service-card {
        width: 50%;
        height: 15em;
        color: #fff;
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        background: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(12px);
        background-clip: padding-box;
        overflow: hidden;
        &:nth-child(1) {
          border-right: 1px solid #777777c4;
          border-bottom: 1px solid #777777c4;
        }
        &:nth-child(2) {
          border-left: 1px solid #777777c4;
          border-bottom: 1px solid #777777c4;
        }
        &:nth-child(3) {
          border-right: 1px solid #777777c4;
          border-top: 1px solid #777777c4;
        }
        &:nth-child(4) {
          border-left: 1px solid #777777c4;
          border-top: 1px solid #777777c4;
        }
        &:hover {
          .service-mask-top {
            top: -100%;
          }
          .service-mask-bottom {
            bottom: -100%;
          }
          .service-svg-container {
            svg {
              height: 5em;
              width: 5em;
              top: 25%;
              left: 80%;
            }
          }
        }
        @include media("<=phone") {
          width: 100%;
          padding-top: 4em;
          height: unset;
          min-height: 15em;
          &:nth-child(1) {
            border-right: none;
          }
          &:nth-child(2) {
            border-left: none;
          }
          &:nth-child(3) {
            border-right: none;
            border-top: none;
            border-bottom: 1px solid #777777c4;
          }
          &:nth-child(4) {
            border: none;
          }
        }
        .service-mask-top,
        .service-mask-bottom {
          opacity: 1;
          position: absolute;
          left: 0;
          width: 100%;
          height: 50%;
          background-color: rgb(250, 250, 250);
          transition: all 400ms ease-out;
        }
        .service-mask-top {
          top: 0;
        }
        .service-mask-bottom {
          bottom: 0;
        }
        .service-svg-container {
          pointer-events: none;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          @include media("<=tablet") {
            width: 100%;
          }
          svg {
            width: 8em;
            height: 8em;
            overflow: visible;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            fill: $primary;
            transition: all 300ms ease-in;
            // .color-prime {
            //   fill: $primary;
            // }
          }
        }
        .service-description {
          flex-grow: 3;
          padding: 0.75em 0.75em 0.75em 1em;
          box-sizing: border-box;
          text-align: left;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          @include media("<=tablet") {
            text-align: center;
            margin-bottom: 3rem;
            width: 100%;
          }

          h3 {
            color: $primary;
            font-size: 1.7em;
            text-transform: uppercase;
            margin-bottom: 0.2em;
            @include media("<=phone") {
              font-size: 1.4em;
              padding-left: 0.5em;
            }
          }
          p {
            color: #000;
            line-height: 2rem;
          }
        }
      }
    }
  }
}
