#services {
  background: linear-gradient(
    355deg, #2344d507 0%, rgba(0, 0, 0, 0.24) 100%);
  color: #000;
  .serv-container {
    flex-direction: column;
    header {
      width: 100%;
      margin-bottom: 4rem;
      display: block;
      color: #fff;
      h2 {
        font-size: 2.6rem;
        font-weight: 700;
        margin: 0 0 0.75rem 0;
      }
      p {
        color: #999;
      }
    }
    .services-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      .service-card {
        height: 425px;
        width: 325px;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        border-radius: 8px;
        align-items: center;
        padding: 2rem;
        box-sizing: border-box;
        background: rgba(121, 121, 121, 0.411);
        box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);  
        margin: 0 0.5rem 1rem 0.5rem;
        @include media("<=tablet") {
          min-width: 50%;
          width: 50%;
        }
        @include media("<=phone") {
          height: 450px;
          min-width: 100%;
          width: 100%;
        }
        svg {
          min-height: 150px;
          min-width: 150px;
          fill: #fff;
          .color-prime {
            fill: $primary;
          }
        }
        .service-description {
          padding: 0.75rem;
          box-sizing: border-box;
          text-align: center;
          h3 {
            color: $bg-light;
            text-transform: uppercase;
          }
          p{
            color:#999;
            line-height: 2rem;
          }
        }
      }
    }
  }
}
