#services {
  background-color: $bg-grey;
  color: $bg-light;
  .serv-container {
    flex-direction: column;
    header {
      width: 100%;
      margin-bottom: 4rem;
      display: block;
      h2 {
        font-size: 2.6rem;
        font-weight: 700;
        margin: 0 0 0.75rem 0;
      }
      p {
        color: #999;
      }
    }
    .services-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      box-sizing: border-box;
      .service-card {
        min-height: 300px;
        min-width: 25%;
        width: 25%;
        margin: 1rem;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 2rem;
        color: $bg-dark;
        border-radius: 8px;
        @include media("<=tablet") {
          min-width: 50%;
          width: 50%;
        }
        @include media("<=phone") {
          min-width: 75%;
          width: 75%;
          align-items: center;
        }
        svg {
          height: 85%;
          width: 85%;
          fill: $bg-light;
          .color-prime {
            fill: $primary;
          }
        }
        .service-description {
          padding: 0.5rem 0;
          box-sizing: border-box;
          text-align: left;
          @include media("<=phone") {
            text-align: center;
          }
          h4 {
            color: $bg-light;
            text-transform: uppercase;
          }
          p {
            color: #999;
          }
        }
      }
    }
  }
}
