#services {
  text-align: center;
  padding: 6rem 0;
  box-sizing: border-box;
  background-color: $bg-grey;
  color: $bg-light;
  .serv-container {
    flex-direction: column;
    header {
      width: 100%;
      margin-bottom: 4rem;
      display: block;
      h2 {
        font-size: 2.6rem;
        font-weight: 700;
        margin: 0 0 0.75rem 0;
      }
      p {
        color: #999;
      }
    }
    .services-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      box-sizing: border-box;
      .service-card {
        min-height: 300px;
        width: 25%;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 2rem;
        background-color: $bg-light;
        color: $bg-dark;
        border-radius: 8px;
        @include media("<=tablet") {
          width: 50%;
        }
        @include media("<=phone") {
          width: 75%;
        }
        svg {
          color: $primary;
          display: block;
        }
        .service-description {
          padding: 0.5rem 2rem;
          box-sizing: border-box;
          h4 {
            text-transform: uppercase;
          }
          p {
          }
        }
      }
    }
  }
}
