#services {
  .serv-container {
    flex-direction: column;
    .services-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      box-sizing: border-box;
      .service-card {
        width: 48%;
        height: 15em;
        color: #fff;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        @include media("<=tablet") {
          flex-direction: column;
          max-width: 400px;
          &:nth-child(even) {
            flex-direction: column;
            .service-description {
              text-align: center;
            }
          }
        }
        .service-svg-container {
          width: 40%;
          height: inherit;
          display: flex;
          justify-content: center;
          align-items: center;
          @include media("<=tablet") {
            width: 100%;
          }
          svg {
            width: 100%;
            height: inherit;
            overflow: visible;
            fill: #fff;
            .color-prime {
              fill: $primary;
            }
          }
        }
        .service-description {
          height: inherit;
          padding: 0.75em 0.75em 0.75em 1em;
          box-sizing: border-box;
          text-align: left;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          @include media("<=tablet") {
            text-align: center;
            margin-bottom: 3rem;
            width: 100%;
          }
          h3 {
            color: $primary;
            font-size: 1.7em;
            text-transform: uppercase;
            margin-bottom: 0.2em;
          }
          p {
            color: rgb(255, 255, 255);
            line-height: 2rem;
          }
        }
      }
    }
  }
}
