@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;600;700&display=swap");
@import "react-alice-carousel/lib/scss/alice-carousel.scss";
@import "./variables.scss";
@import "./breakpoints.scss";
@import "./components/landing.scss";
@import "./components/nav.scss";
@import "./components/about.scss";
@import "./components/services.scss";
@import "./components/portfolio.scss";
@import "./components/project.scss";
@import "./components/projectTemplate.scss";
@import "./components/contact.scss";
@import "./components/footer.scss";

body,
html {
  user-select: none;
  background: $bg-dark;
  overscroll-behavior: none;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 1080px;
  min-width: 1080px;
  margin: 0 auto;
  height: 100%;
  @include media("<=desktop") {
    width: 1080px;
    min-width: 1080px;
  }
  @include media("<=1080px") {
    width: 100%;
    min-width: 100%;
  }
  .flex {
    display: flex;
    height: 100%;
    padding: 0 32px;
    @include media("<=phone") {
      padding: 0 16px;
    }
  }
}

.container-fluid {
  width: 100%;
  height: 100%;
  .flex {
    display: flex;
    height: 100%;
  }
}

.overflow-hidden {
  overflow: hidden;
}

#about,
#services,
#portfolio,
#contact,
#portfolio-project {
  background: linear-gradient(315deg, #2344d507 0%, rgba(0, 0, 0, 0.24) 100%);
  min-height: 100vh;
  text-align: center;
  box-sizing: border-box;
  padding: 6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-section-button {
  background: $primary-faded;
  height: auto;
  max-width: 400px;
  border: 1px solid $primary;
  border-radius: 4px;
  margin: 3rem auto 0 auto;
  transition: 300ms ease-out;
  cursor: pointer;
  &:hover {
    background: $primary;
  }
  a {
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 2rem;
    box-sizing: border-box;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
  }
}
