@import url("https://use.typekit.net/kaw0ytn.css");
@import "react-alice-carousel/lib/scss/alice-carousel.scss";
@import "./variables.scss";
@import "./breakpoints.scss";
@import "./components/landing.scss";
@import "./components/arrows.scss";
@import "./components/nav.scss";
@import "./components/about.scss";
@import "./components/services.scss";
@import "./components/portfolio.scss";
@import "./components/project.scss";
@import "./components/projectTemplate.scss";
@import "./components/contact.scss";
@import "./components/footer.scss";

/*
Fonts added:
Acumin Pro Bold
font-family: acumin-pro, sans-serif;
font-weight: 700;
font-style: normal;

Acumin Pro Bold Italic
font-family: acumin-pro, sans-serif;
font-weight: 700;
font-style: italic;

Acumin Pro Italic
font-family: acumin-pro, sans-serif;
font-weight: 400;
font-style: italic;

Acumin Pro Regular
font-family: acumin-pro, sans-serif;
font-weight: 400;
font-style: normal;
*/
@font-face {
  font-family: "Spade Round W05 Regular";
  src: url("Fonts/5332184/f2aa5d7e-c7b8-461f-9f02-dc5c6c1d5c00.woff2")
      format("woff2"),
    url("Fonts/5332184/41b84784-394b-4295-9ed6-f447410f3539.woff")
      format("woff");
}
body,
html {
  user-select: none;
  overscroll-behavior: none;
  margin: 0;
  font-family: acumin-pro, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.svg-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  width: 2320px;
  min-width: 2320px;
  margin: 0 auto;
  height: 100%;
  max-height: 100%;
  @include media("<=LGdesktop") {
    width: 1560px;
    min-width: 1080px;
  }
  @include media("<=desktop") {
    width: 1080px;
    min-width: 1080px;
  }
  @include media("<=1080px") {
    width: 100%;
    min-width: 100%;
  }
  .flex {
    display: flex;
    height: 100%;
    padding: 0 32px;
    @include media("<=phone") {
      padding: 0 16px;
    }
  }
}
.container-fluid {
  width: 100%;
  height: 100%;
  .flex {
    display: flex;
    height: 100%;
  }
}

#about,
#services,
#portfolio,
#contact,
#portfolio-project {
  min-height: 100vh;
  text-align: center;
  box-sizing: border-box;
  padding: 6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.about-container,
.contact,
.projects-container,
.serv-container {
  width: 1080px;
  max-width: 1080px;
  margin: 0 auto;
}
.next-section-button {
  background: $primary;
  background-clip: padding-box;
  height: auto;
  max-width: 400px;
  border-radius: 4px;
  margin: 3rem auto 0 auto;
  cursor: pointer;
  a {
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 2rem;
    box-sizing: border-box;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
  }
}
header {
  width: 100%;
  margin: 4rem 0;
  display: block;
  color: #000;
  h2 {
    font-size: 2.6rem;
    font-weight: 400;
    margin: 0 0 0.75rem 0;
    span {
      // color: $primary;
      font-family: "Spade Round W05 Regular";
      // font-weight: 900;
    }
  }
  p {
    color: rgb(53, 53, 53);
    // span {
    //   color: $primary;
    // }
  }
}

// background: rgba(255, 255, 255, 0.25);
// // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
// backdrop-filter: blur(12px);
// border-radius: 1em;
// border: solid 2px transparent;
// background-clip: padding-box;
