@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;600;700&display=swap");
@import "./variables.scss";
@import "./breakpoints.scss";
@import "./components/intro.scss";
@import "./components/landing.scss";
@import "./components/nav.scss";
@import "./components/about.scss";
@import "./components/services.scss";
@import "./components/projects.scss";
@import "./components/project.scss";
@import "./components/modal.scss";
@import "./components/contact.scss";
@import "./components/footer.scss";

body,
html {
  visibility: hidden;
  user-select: none;
  background: $bg-dark;
  overscroll-behavior: none;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 1080px;
  min-width: 1080px;
  margin: 0 auto;
  height: 100%;
  // @include media("<=1560px") {
  //   width: 1280px;
  //   min-width: 1280px;
  // }
  @include media("<=desktop") {
    width: 1080px;
    min-width: 1080px;
  }
  @include media("<=1080px") {
    width: 100%;
    min-width: 100%;
  }
  .flex {
    display: flex;
    height: 100%;
    padding: 0 32px;
    @include media("<=phone") {
      padding: 0 16px;
    }
  }
}

.container-fluid {
  width: 100%;
  height: 100%;
  .flex {
    display: flex;
    height: 100%;
  }
}

.active {
  box-sizing: border-box;
  border-bottom: 2px solid $primary;
}

.overflow-hidden {
  overflow: hidden;
}
