$bg-dark: rgb(26, 26, 26);
$bg-light: rgb(238, 238, 238);
$primary: #4361eeff;
$secondary: linear-gradient(
  270deg,
  rgba(67, 97, 238, 1) 0%,
  rgba(110, 247, 209, 1) 100%
);

//Blue & Purple
$french-violet: #6f2dbdff;
$amethyst: #a663ccff;
$wisteria: #b298dcff;
$beau-blue: #b8d0ebff;
$celeste: #b9faf8ff;

//Blueish Green
$medium-turquoise: #75ddddff;
$steel-teal: #508991ff;
$prussian-blue: #172a3aff;
$warm-black: #004346ff;
$mountain-meadow: #09bc8aff;

//Blue & Pink
$flickr-pink: #f72585ff;
$purple: #7209b7ff;
$trypan-blue: #3a0ca3ff;
$ultramarine-blue: #4361eeff;
$vivid-sky-blue: #4cc9f0ff;
