$bg-dark: rgb(26, 26, 26);
$bg-light: rgb(238, 238, 238);
$bg-grey: #555555;
$primary: #4361eeff;
$secondary: #d52349;
$secondary-faded: #d5234941;
$primary-faded: rgba(67, 98, 238, 0.329);
$blue-gradient: linear-gradient(
  270deg,
  rgba(67, 97, 238, 1) 0%,
  rgba(110, 247, 209, 1) 100%
);